*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    

}
li{

font-family: Ubuntu ;
font-size: 16px;
font-weight: 700;
line-height: 25.6px;
display: flex;
align-items: center;
flex-direction: row;



}

 header{
    height: 92px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 header nav {
    width: 100%;
 }
 
 .iphone{
    margin-left: 45px;
 }
 .head_text{
    color: black;
 }


 div{
    display: flex;
    flex-direction: column;
 }
 .container{
    width: 1300px;
    margin: 0 auto;
    padding: 0 35px;
 }

 .hero{

    background-image: url(bg-image.jpg);
    
 }
 
 h1{
    
font-family: Ubuntu;
font-size: 72px;
font-weight: 700;
line-height: 93.6px;
letter-spacing: 1px;
text-align: left;
color: white;

 }
 p{
    color: white;
 }

 button{
    border: 1px solid black;
    width: Hug (278px)px;
    height: Hug (52px)px;
    padding: 0px 40px 0px 40px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

 }