*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.allul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    

}
.head_item{

font-size: 16px;
font-weight: 700;
line-height: 25.6px;
display: flex;
align-items: center;
flex-direction: row;



}

 header{
    height: 92px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 header nav {
    width: 100%;
 }
 
 .iphone{
    margin-left: 45px;
 }
 .head_text{
    color: black;
 }


 div{
    display: flex;
    flex-direction: column;
 }
 .container{
    width: 1300px;
    margin: 0 auto;
    padding: 0 35px;
 }

 .hero{

    background-image: url(bg-image.jpg);
    background-repeat: no-repeat;
    
 }
 
 h1{
    
font-size: 72px;
font-weight: 700;
line-height: 93.6px;
letter-spacing: 1px;
text-align: left;
color: white;

 }
 .text{
   margin-bottom: 61px;
 }
 


 p{
    color: white;
    
 }
 .buttons{
   display: flex;
   flex-direction: row;
   margin-bottom: 200px;
 }


.button1{
   width: 278px;
   height: 52px;
   border: 1px solid rgba(255, 255, 255, 1);
   border-radius: 4px;
   background-color: inherit;
   color: #fff;
}
.button2{
    width: 224px;
    height: 52px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 90, 48, 1);
    gap: 40px;
}
.nolbirr{
   width: 32px;
   height: 42px;
   font-size: 28px;
   color:white;
}

.line1{
   border-bottom: 2px solid white;
   width: 178px;
}


.line_item{
   display: flex;
   flex-direction: column;
}

.nol3{
   width: 178px;
   height: 42px;
   color: white;
   opacity: 60%;
   font-size: 28px;
   border-bottom: 2px solid  white;
}

.lines{
   display: flex;
   flex-direction: row;
   gap: 12px;
   margin-bottom: 400px;

}
.video_text h2{
   font-size: 46px;
   text-align: center;
   color: black;
   margin-bottom: 24px;
}
.video_text p{
   font-size: 18px;
   text-align: center;
   color: gray;
   margin-bottom: 60px;
}

.video{
   margin-bottom: 180px;
   width: 100%;
   background-image: url(image\ \(1\).png);
   height: 500px;
   filter: brightness(0.6);
   position: relative;
}
.large_img{
   height: 80px;
   width: 80px;
   position: absolute;
   right: 575px;
   left: 575px;
   top: 210px;
   bottom: 210px;
   
  
}

.mute_img{
   height: 40px;
   width: 40px;
   position: absolute;
   bottom: 32px;
   left: 32px;
}




.ourcorevalues ul{
   list-style: none;
}

.ourcorevalues h2{
   color:black;
   text-align: center;
   margin-bottom: 24px;
   font-size: 46px;
}
.ourcorevalues_p{
   color: gray;
   font-size: 18px;
   text-align: center;
   margin-bottom: 60px;
}

.description{
   color: gray;
   font-size: 16px;
   
   
}

.ourcorevalues_li{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   padding-left: 30px;
   padding-right: 30px;
   padding: 0 94px;
}

.ourcorevalues_li:nth-child(2) {
   
   border: 1px solid gray;
   border-bottom: none;
   border-top: none;
}

.ourcorevalues_li img {
   width: 60px;
   height: 80px;
   
}
.ourcorevalues ul{
   display: flex;
   flex-direction: row;
   
}